<!DOCTYPE html>
<html>
<head>
<title>Simulador de Parquimetro</title>
     <meta charset="utf-8" />
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 </head>
<body>
	<form action="@{telaParquimetro.executaParquimetro()}" method="GET">
		<p>Simulador de Parquimetro</p>

		<div>
			Identifica&ccedil;&atilde;o do Parquimetro: 1</div>
		<div>
			Endereço da vaga de Parquimetro: ${oParquimetro.endereco}</div>
		<div>
			Latitude: ${oParquimetro.latitude}</div>
		<div>
			Longitude: ${oParquimetro.longitude}</div>
		<div>
			Identifica&ccedil;&atilde;o da Vaga: ${oParquimetro.idVaga}</div>
		<table align="center" border="3" cellpadding="1" cellspacing="1" style="width: 500px;">
			<tbody>
				<tr>
					<td>
					<script language = "javascript" type ="text/javascript">
				//		<!-- Hide JavaScript
							var strstatusVaga = 0 + 0${oParquimetro.statusVaga};
									  					
		  					if (strstatusVaga==0) {
		  						document.write("<p align=center>Valor Hora: R$ ${oParquimetro.precoHora},00</p>");
		  						document.write("<p align=center>Vaga Livre</p>");
		  					} 
		  					else if (strstatusVaga==1) {
		  						document.write("<p align=center>Vaga Ocupada desde: ${oParquimetro.dataHoraOcupacao}</p>");	
		  						document.write("<p align=center>Veículo Placa: ${oParquimetro.placaVeiculoOcupacao}</p>");

		  						var strusuarioEstacioneAki = 0 + 0${oParquimetro.usuarioEstacioneAki};
		  						if (strusuarioEstacioneAki==1) document.write("<p align=center>(Usuário Estacione Aki)</p>");
		  					}
		  					else if (strstatusVaga==2) {
		  						document.write("<p align=center>Valor: R$ ${oParquimetro.precoHora},00</p>");	
		  						document.write("<p align=center>Vaga Ocupada por: ${oParquimetro.tempoOcupacao}</p>");
		  						document.write("<p align=center>Valor a pagar: R$ ${oParquimetro.valorAPagar},00</p>");
		  						
		  						document.write("<input name=\"strvalorAPagar\" type=\"hidden\" value=\"${oParquimetro.valorAPagar}\">");
		  						
		  					}
		  					else if (strstatusVaga==3) {

		  						var strvalorAPagar2 = Number (${oParquimetro.valorAPagar});
		  						var strvalorPago2 = Number (${oParquimetro.valorPago});
		  						
		  						document.write("<p align=center>Valor a pagar: R$" + strvalorAPagar2 + ",00 </p>");	
		  						document.write("<p align=center>Valor pago: R$" + strvalorPago2 + ",00 </p>");
		  						
		  						var intdiferenca = strvalorAPagar2 - strvalorPago2;
		  						
		  						document.write("<p align=center>Diferença: R$" + intdiferenca + ",00 </p>");		  					}	
		  			//	-->
					</script>			
					</td>
				</tr>
			</tbody>
		</table>
		  
		<p>&nbsp;</p>
		
		<script> 
			var strstatusVaga = 0 + 0${oParquimetro.statusVaga};
			
			document.write("<div><input name=\"intstatusParquimetro\" type=\"radio\" value=\"0\"");
			if (strstatusVaga==0) document.write("checked=\"checked\"");
			document.write("/>Vaga Livre</div>");
			
			document.write("<div><input name=\"intstatusParquimetro\" type=\"radio\" value=\"1\"");
			if (strstatusVaga==1) document.write("checked=\"checked\"");
			document.write("/>Ve&iacute;culo entrando na vaga - Placa:<input maxlength=\"8\" name=\"strplacaVeiculoOcupacao\" size=\"10\" type=\"text\" value=\"\" /></div>");

			document.write("<div><input name=\"intstatusParquimetro\" type=\"radio\" value=\"2\"");
			if (strstatusVaga==2) document.write("checked=\"checked\"");
			document.write("/>Motorista consulta o valor do tempo estacionado na vaga do Parqu&iacute;metro</div>");

			document.write("<div><input name=\"intstatusParquimetro\" type=\"radio\" value=\"3\"");
			if (strstatusVaga==3) document.write("checked=\"checked\"");
			document.write("/>Ve&iacute;culo saindo da vaga - Valor Pago: R$&nbsp;<input maxlength=\"8\" name=\"strvalorPago\" size=\"8\" type=\"text\" value=\"\" /></div>");

		</script>
			
		<br>
		<input type="submit" value="Processa Parquímetro" onClick="window.location.href=window.location.href"/>
	</form>
</body>
</html>
