<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="br" lang="br">
    <head>
        <title>Administração</title>		
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/bootstrap.min.css'}"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}" />
        <script src="@{'/public/javascripts/jquery-1.10.2.min.js'}"></script>
        <script src="@{'/public/javascripts/jquery.tools-1.2.5.toolbox.expose.min.js'}"></script>
	    <script src="@{'/public/javascripts/bootstrap.min.js'}"></script>
    </head>
    <body id="admin">
        
        <div id="header">
            <div id="logo">
                Estacione.<span>Aki</span>
            </div>
            <ul id="tools">
                <li>
                    <a href="@{Secure.logout()}">Log out</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse"  id="main">
	        <span style="font-size: 16px; color: white; margin: 10px;">
				Perfil Administrador
	        </span>
            <ul class="nav navbar-nav sub-menu" id="adminMenu" style="width: 100%;">

                #{secure.check 'A'}
            	<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Cadastros<b class="caret"></b></a>
					<ul class="dropdown-menu genericBox">
	        			<li><a href="@{Estacionamentos.list()}">Estacionamento</a></li>
						<li><a href="@{Motoristas.list()}">Motorista</a></li>
						<li><a href="@{Parquimetros.list()}">Parquímetro</a></li>
					</ul>
				</li>

            	<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Relatórios<b class="caret"></b></a>
					<ul class="dropdown-menu genericBox">
	        			<li><a href="@{Motoristas.listaReserva()}">Reservas Estacionamentos</a></li>
						<li><a href="@{Estacionamentos.list()}">Movimentação Estacionamentos</a></li>
						<li><a href="@{logParquimetros.list()}">Movimentação Parquimetro</a></li>
					</ul>
				</li>

                <li class="${request.controller == 'telaParquimetro' ? 'selected' : ''}">
                    <a href="/telaParquimetro/index">Simulador de Parquimetros</a>
                </li>
            
                 <li class="${request.controller == 'Users' ? 'selected' : ''}">
                     <a href="@{Users.list()}">Usuários</a>
                 </li>
            
                #{/secure.check}

                #{secure.check 'E'}
				<br>Perfil Estacionamento</br>
            	<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Entrada/Saida<b class="caret"></b></a>
					<ul class="dropdown-menu genericBox">
	        			<li><a href="@{Motoristas.list()}">Entrada</a></li>
						<li><a href="@{Estacionamentos.list()}">Saída</a></li>
					</ul>
				</li>

      			<li><a href="@{Motoristas.list()}">Reservas Estacionamentos</a></li>
				<li><a href="@{Estacionamentos.list()}">Meus Dados</a></li>
				<li><a href="@{Estacionamentos.list()}">Movimentação Estacionamentos</a></li>

                #{/secure.check}

                #{secure.check 'M'}
				<br>Perfil Motorista</br>
            	<li class="dropdown">
					<ul class="dropdown-menu genericBox">
						<li><a href="@{Motoristas.list()}">Meus Dados</a></li>
					</ul>
				</li>

                #{/secure.check}

            </ul>
            
            #{doLayout /} 
        </div>
        
        <p id="footer">
            Ana&Bruno&Marco - Solução para sua vida na forma de sistemas de informação.
        </p>
        
    </body>
</html>
