<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="br" lang="br">
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=${_response_encoding}"/>
        #{stylesheet src:"main.css" /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        #{script src:"jquery-1.4.2.min.js" /}
        #{script src:"jquery.tools-1.2.5.toolbox.expose.min.js" /}
    </head>
    <body>

        <div id="header">
            <div id="logo">
                Estacione.<span>Aki</span>
            </div>
            <ul id="tools">
                <li>
                    <a href="@{Admin.index()}">Entrar</a>
                </li>
            </ul>
            <div id="title">
                <span class="about">Estacione Aki</span>
                <h1><a href="@{Application.index()}">Difícil estacionar??</a></h1>
                <h2>Encontre a vaga ideal para o seu carro com a maior comodidade!</h2>
                
                <h4>Novo aqui? Seja bem vindo! Crie seu usuário: 
                <a href="@{Motoristas.blank()}">Motorista<a> | 
                <a href="@{inEstacionamentos.blank()}">Estacionamento</a></h4>
                
            </div>
        </div>

        <p id="footer">
            Ana&Bruno&Marco - Solução para sua vida na forma de sistemas de informação.
        </p>

    </body>
</html>
